
.addOption{
    margin:auto;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 50%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

input{
    width:150px;
    font-size: 14px;
}

button{
    display:inline-block;
    margin-left:.5em;
     height: 1.5em;
    font-size: 14px;
}