
.alternatives{
    margin: auto;
    max-width: 50%;
    min-width: 290px;
    margin-top: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}


.item{
    display:block;
    margin-top: .3em;
    margin-bottom: .5em;
}

button, input{
    height: 1.5em;
    font-size: 16px;
    border: .5px solid lightgrey;
    border-radius: 5px;
}

.error{
    font-size: 16px;
    background-color: orangered;
    /*border: 1px solid red;*/
    color: white;
    border-radius: 2px;
    width: 200px;
    margin: auto;
    padding-top: .2em;
    height: 1.3em;
    margin-top: .5em;
}

@media (max-width: 450px){
	.alternatives{
		max-width:290px;
	}
}